<div class="text-white dashboard bg-black bg-opacity-60 h-screen w-64 ">
  <div class="py-2 px-6 flex items-center">
  <i class="fa-brands fa-react text-2xl mr-2 text-cyan-500"></i>
  <h1 class="py-5 text-xl">CREATIVE TIM</h1>
  </div>
  <hr>

  <div class="text-base py-2 px-5">
    <div class="py-2 px-2 flex items-center hover:bg-slate-200 rounded-lg">
      <i class="fa-solid fa-chart-pie text-2xl pr-2"></i>
      <p class="pl-1">DASHBOARD</p>
    </div>
    <div class="py-2 px-2 flex items-center hover:bg-slate-200 rounded-lg">
      <i class="fa-solid fa-circle-user text-2xl pr-2"></i>
      <p class="pl-1">USER PROFILE</p>
    </div>
    <div class="py-2 px-2 flex items-center hover:bg-slate-200 rounded-lg">
      <i class="fa-solid fa-clipboard-list text-2xl pr-2"></i>
      <p class="pl-2">TABLE LIST</p>
    </div>
    <div class="py-2 px-2 flex items-center hover:bg-slate-200 rounded-lg">
      <i class="fa-solid fa-newspaper text-2xl pr-2"></i>
      <p class="pl-1">TYPHOGRAPY</p>
    </div>
    <div class="py-2 px-2 flex items-center hover:bg-slate-200 rounded-lg">
      <i class="fa-brands fa-react text-2xl pr-2"></i>
      <p class="pl-1">ICONS</p>
    </div>
    <div class="py-2 px-2 flex items-center hover:bg-slate-200 rounded-lg">
      <i class="fa-solid fa-location-dot text-2xl pr-2"></i>
      <p class="pl-3">MAPS</p>
    </div>
    <div class="py-2 px-2 flex items-center hover:bg-slate-200 rounded-lg">
      <i class="fa-solid fa-bell text-2xl pr-2"></i>
      <p class="pl-2">NOTIFICATIONS</p>
    </div>
  </div>

</div>
