<div class="bg-slate-200 h-20 items-center flex p-5 justify-between text-slate-500">

<div class="flex justify-around items-center">
  <h2 class="text-xl mr-4">Dashboard</h2>
  <i class="fa-solid fa-palette mr-4"></i>
  <i class="fa-solid fa-earth-americas mr-4"></i>
  <i class="fa-solid fa-magnifying-glass mr-2"></i>
  <input type="text" class=" bg-transparent" placeholder="Serch">
</div>

<div class="flex justify-around items-center">
  <p class="p-5" >Account</p>
  <p class="p-5" > Dropdown</p>
  <p class="p-5" >Log out</p>
</div>
</div>
